{% extends 'base.html' %}>

{% block content %}

    <div class="container">

        <h1>Hello!</h1>

        <p>
            my name is Titas Skrebe and I study Computer Science at the University of Edinburgh.
            </br>
            If you want to take a look at my code then visit my <a href="https://www.github.com/TSkrebe">GitHub</a>
            page. As I mostly use Java and Python you won't find anything else very interesting there.
            </br></br>
            Cheers!
        </p>
    </div>

{% endblock %}