{% extends 'base.html' %}
{% import 'main/macros.html' as macros %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                {% block custom_content %}
                {% endblock %}
            </div>
            <div class="col-sm-3 hidden-xs">
                <div class="well well-lg" style="margin-top: 50px">
                    <p>
                        Hi, my name is Titas Skrebe I study Computer Science at the University of Edinburgh.
                        </br></br>
                        I will mostly write about backend stuff and various projects.

                        </br></br>

                        Cheers!!!
                    </p>
                </div>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-default navbar-static-bottom" style="margin-bottom: 0; margin-top: 20px">
        <div class="container text-center" style="margin-top: 10px">
            Website by T.Skrebe. Contact me at
            <a href="http://www.google.com/recaptcha/mailhide/d?k=01gWrZL_quX5W6PwKPK5S5Rg==&amp;c=I78SEJhUgfr7zfHzhfwFHHJLskF5nCttrkaVJmR9Qng="
               onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501gWrZL_quX5W6PwKPK5S5Rg\75\75\46c\75I78SEJhUgfr7zfHzhfwFHHJLskF5nCttrkaVJmR9Qng\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"
               title="Reveal this e-mail address">ti...</a>@gmail.com
        </div>
    </nav>
{% endblock %}




