{% extends "main/base.html" %}


{% block custom_content %}

    <ul id="posts" class="list-group">
        {% for item in items %}
            {{ macros.render_post(item, current_user, date_format) }}
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-danger btn-lg col-xs-12" id="btn-load-more">Load more</button>

{% endblock %}


{% block scripts %}
    {{ super() }}
    <!-- scrip for loading more articles -->
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(function () {
            var submit_form = function (e) {
                $.get($SCRIPT_ROOT + '/load_more_posts', {
                    offset: $("li.post").length,
                    pages: 5
                }, function (data) {
                    $("#posts").append(data)
                });
                return false;
            };
            $("#btn-load-more").bind('click', submit_form);
        });
    </script>
{% endblock %}